<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nahuy TON MiniApp</title>
</head>
<body>
    <header>
        <h1>Nahuy TON MiniApp</h1>
        {% if user %}
            <a href="{% url 'user_profile' %}">Профиль</a>
        {% else %}
            <a href="{% url 'telegram_login' %}">Войти через Telegram</a>
        {% endif %}
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>© 2024 Nahuy TON MiniApp</p>
    </footer>
</body>
</html>
